.Video {
    width: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.debug-log {
    position: absolute;
    top: 200px;
    left: 10px;
    text-align: left;
    width: 50%;
}